.new-item-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;

}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-item-label {
    display: flex;
    justify-content: center;
}