.new-item-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0px 20px 20px 20px;
    justify-self: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.new-item-label {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.elements{ 
    display: grid;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
}

.header {
    margin: 20px;
}

.list{
    list-style: none;
    padding: 0px 40px;
}

.btn {
    height: 30px;
    font-family: Montserrat;
    font-weight: 500;
    border-radius: 10px;
}

.text-input {
    height: 30px;
    font-family: Montserrat;
    font-weight: 500;
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 0px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.item-label {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.item-checkbox{
    margin: 0px 10px 0px 10px;
}
